/* Application-wide Styles */
h1 {
    color: rgb(28, 28, 236);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-shadow: -2px -2px rgb(243, 243, 105);
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  html{
    background-color: rgb(218, 52, 52);
  }
  